@import "../../../assets/styles/styles.scss";
.whiteBgWrapper {
  .tableWrapper {
    width: 100%;
    margin-top: 15px;
    .mat-table {
      width: 100%;
    }
  }
  ::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-underline {
        bottom: 0;
      }
    }
  }
}
.exportIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  a {
    display: flex;
    margin: 0 6px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
  }
}
