@import '../../../../../assets/styles/styles.scss';
.selectValue {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 1.5px 10px;
    ::ng-deep{
      .mat-form-field-infix {
        width: 120px;
      }
      .mat-form-field-underline{
        display:none;
      }
    }
  }