<div class="whiteBgWrapper">
  <div class="filterExportWrap">
    <app-header-filter></app-header-filter>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng"
   (mapClick)="mapClicked($event)">
    <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
    <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)"
    >


</agm-marker>
  </agm-map>

</div>

