<div class="mapModalWrap">
  <span class="closeBtn" mat-dialog-close><mat-icon>close</mat-icon></span>
  <h3>At vero eos et accusamus et iusto odio dignissimos</h3>
  <ul>
    <li><mat-icon> place</mat-icon> praesentium voluptatum deleniti atque corrupti</li>
    <li><mat-icon> phone</mat-icon> +91 1524648792</li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <button mat-button color="primary">Directions</button>
</div>
