@import '../../../assets/styles/styles.scss';

.alarmLogWrapper {
  background-color: #fafafa;
  height: calc(100vh - 64px);
  overflow: auto;
}
.filterExportWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .exportIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    a {
      display: flex;
      margin: 0 6px;
      background-color: #fff;
      width: 35px;
      height: 35px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 0 4px rgb(0 0 0 / 10%);
    }
  }
}
.selectValue {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 1.5px 10px;
  ::ng-deep{
    .mat-form-field-infix {
      width: 120px;
    }
    .mat-form-field-underline{
      display:none;
    }
  }
}
