<mat-card class="alarmLogWrapper">
  <div fxLayout="row wrap" fxLayoutGap="15px grid">
    <!-- <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
      <h2>Alarm Details</h2>
    </div> -->
    <div class="filterExportWrap">
      <app-header-filter></app-header-filter>
      <div class="exportIcon">
        <a href="javascript:void(0);"><img src="assets/icons/pdf.svg" width="15"></a>
        <a href="javascript:void(0);"><img src="assets/icons/excel.svg" width="24"></a>
        <a href="javascript:void(0);"><img src="assets/icons/csv.svg" width="15"></a>
      </div>
    </div>
    <mat-tab-group class="commonTab">
      <mat-tab label="Alarm Summary">
        <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="summaryTable">
          <div class="searchList">
            <div appearance="outline">
              <button mat-raised-button>Display All</button>
            </div>
            <div appearance="outline">
              <button mat-raised-button>Acknowledge to All</button>
            </div>
            <div appearance="outline">
              <button mat-raised-button>Acknowledge to Selected</button>
            </div>
            <mat-form-field class="selectValue" [floatLabel]="'never'">
              <mat-select placeholder="Choose Option" [(value)]="value">
                <mat-option *ngFor="let summeryOption of summeryList" [value]="summeryOption.value" class="chooseLanguage">
                  {{summeryOption.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Search..">
              <mat-icon class="addMore">add_circle</mat-icon>
            </mat-form-field>




          </div>
          <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle1() : null"
                              [checked]="selection1.hasValue() && isAllSelected1()"
                              [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection1.toggle(row) : null"
                              [checked]="selection1.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Alarm Priority</th>
              <td mat-cell *matCellDef="let element"><span class="priBox {{element.priority}}">{{element.priority}}
                </span> </td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp of Alarm</th>
              <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
              <td mat-cell *matCellDef="let element"><a href="javascript:void(0);"> {{element.name}}</a> </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alarm Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="ackstatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ack Status</th>
              <td mat-cell *matCellDef="let element"> {{element.ackstatus}} </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alarm Value</th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alarm Unit</th>
              <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alarm Type</th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="Alarm Log">
        <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="summaryTable">
          <div class="searchList">
            <mat-form-field appearance="outline">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Search..">
              <mat-icon class="addMore">add_circle</mat-icon>
            </mat-form-field>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Alarm Priority</th>
              <td mat-cell *matCellDef="let element"><span class="priBox {{element.priority}}">{{element.priority}}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp of Alarm</th>
              <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alarm Name</th>
              <td mat-cell *matCellDef="let element"><a href="javascript:void(0);"> {{element.name}}</a> </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Description</th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="acknowledge">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Acknowledge Status</th>
              <td mat-cell *matCellDef="let element"> {{element.acknowledge}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action Taken</th>
              <td mat-cell *matCellDef="let element"> {{element.action}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</mat-card>
