@import '../../../../assets/styles/styles.scss';
@import '../../../../assets/styles/media-queries';
/* header filter */
.headerNavigation {
  display: flex;
  flex-direction: column;
  height: auto;
}
/* header filter */
.dateValues {
  border-radius: 5px;
  display: flex;
  margin:20px 0 10px;
  padding: 0px 5px;
  width: 100%;
  grid-gap: 15px;
  @include for-landscape-mobile {
    flex-flow: wrap;
  }
  .value {
    @include for-landscape-mobile {
      width: 48%;
    }
    @include for-sm-mobile {
      width: 46%;
    }
    mat-form-field{
      @include for-landscape-mobile {
        width: 100%;
      }
      select, input,mat-label {
        cursor: pointer;
        font-size: 13px;
        color: #918f8f;
        padding-left: 10px;
      }
      ::ng-deep{
        .mat-form-field-infix{
          border-top: 0 !important;
          padding: 10px 0;
          @include for-min-desktop {
            width: 120px;
          }
          @include for-tablet {
            width: 100%;
          }
        }
      }
    }

  }
}

