<div class="headerNavigation">
  <div class="dateValues">
    <div class="value">
      <mat-form-field>
        <mat-select placeholder="Priority List">
          <mat-option *ngFor="let PriorityList of list" [value]="PriorityList.value" class="chooseLanguage">
            {{PriorityList.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="value">
      <mat-form-field>
        <mat-select placeholder="Alarm Status">
          <mat-option *ngFor="let AlarmStatus of alarmlist" [value]="AlarmStatus.value" class="chooseLanguage">
            {{AlarmStatus.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="value">
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="value">
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="value">
      <button mat-button color="primary">Search</button>
    </div>
  </div>
</div>
