@import '../../../../assets/styles/styles.scss';
/* header filter */
.headerNavigation {
  display: flex;
  flex-direction: column;
  height: auto;
  .dateValues {
    border-radius: 5px;
    display: flex;
    margin:20px 0 10px;
    padding: 0px 5px;
    width: 100%;
    .value {
      margin: 0 12px 0 0;
      select, input,mat-label {
        cursor: pointer;
        font-size: 13px;
        color: #918f8f;
        padding-left: 10px;
      }
      ::ng-deep{
        .mat-form-field-infix{
          border-top: 0 !important;
          padding: 10px 0;
        }
      }
    }
  }
}
