@import "../../../../assets/styles/styles.scss";


/* sidebar */
mat-toolbar {
  background: transparent !important;
  color: #000 !important;
  padding-left: 120px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
  justify-content: flex-end;
  position: relative;
  .headerIcon {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &:before{
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      border-bottom: 1px solid rgba(0,0,0,.12);
      top: 62px;
    }
    ul {
      align-items: center;
      justify-content: flex-end;
      display: flex;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #706f6f;
        padding: 0 30px;
        border-right: 1px solid #eee;
        line-height: 20px;
        cursor: pointer;
        .mat-icon {
          margin-right: 5px;
        }
        &:last-child {
          padding-right: 0;
          border-right: none;
        }
      }
    }
  }
}
/* header language filter */
.selectLanguageWrap {
  ::ng-deep{
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-infix {
        border-top: none;
        width: auto;
        min-width: 110px;
      }
    }
    .mat-form-field-underline{
      display: none;
    }
  }
}


.dropDownMenu {
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  li{
    a{
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 5px;
      mat-icon{
        margin-right: 2px;
        font-size: 18px;
        height: auto;
      }
      &:hover{
        color: #2580eb;
      }
    }
  }
}
.settingOption{
  button{
    background-color: transparent;
    color: #000 !important;
    border: none;
    padding: 0;
    min-width: auto;
    &::ng-deep{
      .mat-button-focus-overlay{
        opacity: 0 !important;
      }
    }

  }
}

/* mat sidebar */
mat-sidenav-container {
  padding-left: 110px;
  .logoImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
    border-bottom: 1px solid #ccc;
  }
  .humburgOuter {
    margin-top: 5px;
    img {
      width: 40px;
    }
  }
  mat-sidenav {
    transform: none !important;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%) !important;
    visibility: visible !important;
    left: 0;
    width: 110px;
    mat-nav-list {
      padding-top: 0;
      a {
        text-align: center;
        font-size: 12px;
        padding: 0;
        ::ng-deep {
          .mat-list-item-content {
            justify-content: center;
            padding: 15px 8px;
          }
        }
        .sidenav-menu-icons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .iconImg {
            height: 17px;
            width: 17px;
            text-align: center;
            margin-bottom: 4px;
          }
        }
        &.humburgOuter {
          &:hover{
            background-color: transparent;
            span,mat-icon{
              color: #ffffff;
            }
          }
        }
        &:hover{
          background-color: #2580eb;
          span,mat-icon{
            color: #ffffff;
          }
        }
      }
    }
    .mat-list-base {
      .mat-list-item {
        height: auto !important;
      }
    }
  }
}
