:root {
    --app-primary-color: #0075c1;
    --app-secondary-color: #ffffff;
    --app-tertiary-color: #000000;
    --app-success-color: #63bc46;
    --app-warning-color: #fba542;
    --app-danger-color: #eb445a;
    --app-button-color: #3f51d3;
  }
