* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto-Regular";
  margin: 0;
}
.loginscreen {
  background: linear-gradient(to left, #f9f9f9 60%, #e0ecf4 40%);
  background: -webkit-linear-gradient(to left, #f9f9f9 60%, #e0ecf4 40%);
  background: -moz-linear-gradient(to left, #f9f9f9 60%, #e0ecf4 40%);
  position: absolute;
  height: 100vh;
  width: 100%;
}
input {
  &.form-control {
    border: none;
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: 1px solid #dfdddd;
    border-radius: 0;
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.form-group {
  margin-bottom: 15px;
}
input {
  &:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}
button {
  background-color: #2580eb;
  color: #ffffff !important;
  border: none;
  padding: 10px 15px;
  min-width: 70px;
  border-radius: 5px;
  line-height: 16px;
  cursor: pointer;
  &:hover {
    background-color: #0e65cb;
    color: #ffffff;
  }
}
/* tab css */
.commonTab {
  ::ng-deep {
    .mat-tab-body-wrapper {
      box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    }
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-body-content {
      background-color: #fff;
    }
    .mat-tab-labels {
      .mat-tab-label {
        background-color: #ffffff;
        border-radius: 5px 5px 0 0;
        opacity: 0.8;
        &.mat-tab-label-active {
          background-color: #2580eb;
          color: #ffffff;
          opacity: 1;
        }
      }
    }
    .searchList {
      padding: 15px;
      display: flex;
      align-items: center;
      background-color: #fff;
      mat-form-field {
        margin-right: 15px;
        .mat-form-field-wrapper {
          margin: 0;
          padding: 0;
          .mat-form-field-infix {
            padding: 12px 0 8px;
            border-top: 0;
            display: flex;
            align-items: center;
            input {
              padding: 0 10px;
              min-height: 24px;
            }
          }
        }
        &.mat-focused {
          .mat-form-field-outline-thick {
            color: #2580eb;
          }
        }
      }
      mat-icon {
        &.addMore {
          color: #2580eb;
        }
      }
      button {
        padding: 12px 15px;
        margin-right: 10px;
    }
    }
  }
}

/* header language filter */
::ng-deep{
  .dropDownwrappewer{
    min-height: auto !important;
  }
}
/* dropdown select */
.chooseLanguage {
  background: transparent;
  &:hover,&.mat-active{
    background: transparent !important;
    color: #2580eb !important;
  }
}

.whiteBgWrapper {
  padding: 15px;
  height: calc(100vh - 64px);
  overflow: auto;
}
/* log table css */
.summaryTable {
  th {
    background-color: #2580eb;
    color: #fff;
    text-shadow: none;
    letter-spacing: 0.2px;
    font-size: 13px;
    padding: 0 10px;
    ::ng-deep {
      .mat-checkbox-frame {
        border-color: #fff;
      }
      .mat-checkbox-checked,.mat-checkbox-indeterminate{
        .mat-checkbox-background{
          background-color: transparent;
        }
      }
      .mat-sort-header-arrow {
        color: #fff;
      }
      .mat-checkbox-ripple {
        display: none;
      }
    }
  }
  td{
    padding: 0 10px;
    font-size: 13px;
    min-width: 100px;
    ::ng-deep {
      .mat-checkbox-checked{
        .mat-checkbox-background{
          background-color: #2580eb;
        }
      }
      .mat-checkbox-ripple {
        display: none;
      }
    }
    a{
      color: #2580eb;
      text-decoration: none;
    }
  }

}

table {
  box-shadow: 0px 5px 10px rgb(0 0 0 / 20%) !important;
  width: 100%;
  .priBox {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    min-width: 65px;
    text-align: center;
    &.green {
      background-color: #63bc46;
    }
    &.orange {
      background-color: #fba542;
    }
  }
}
